<style>
    #client, #idlock {
        padding-top: 0.3rem;
        padding-bottom: 0.3rem;
        padding-left: 0.5rem;
        font-size: 1rem;
    }

    .hide {
        visibility: hidden;
        display: none;
    }

    .show {
        visibility: visible;
    }
</style>
<div id="formulario" style="font-family: 'Ubuntu', sans-serif; width:70%"
    class="shadow rounded card text-center mx-auto my-5 ">
    <img width="70%" class="mx-auto d-block" src="https://i.ibb.co/FxhfMzh/Logo-4.png" alt="MyCityHome">
    <form action="javascript:void(0);" class="card-body" method="post">
        <div class="mb-3 form-group">
            <label class="mb-3" for="Seleccionar">Piso - Vivienda</label>
            <select onchange="PisoSender.actionLoadLocksByPiso();" id="client" name="client" style="margin:0 5% 0 5%; width:90%" class="form-select form-select-lg mb-3 text-center">
                {{{options}}}
            </select>
            <span id="waitSearch" class="spinner-border spinner-border-sm hide" role="status" aria-hidden="true"></span>
            <select id="idlock" name="idlock" style="margin:0 5% 0 5%; width:90%" class="hide form-select form-select-lg mb-3 text-center"></select>
        </div>
        {{{warning}}}
        <!--<button id="btnLight" class="btn btn-primary mx-3 p-3" name="cmd" type="submit" value="toggleLight"></button>-->
        <div class="btn-group-justified">
            <button class="btn btn-secondary p-2 mx-3" onclick="PisoSender.goHome();" type="button" value="openLock">< Atrás</button>
            <button class="btn btn-primary p-2 mx-3" name="cmd" type="button" onclick="PisoSender.actionGestionarPiso();" value="openLock">Gestionar Piso</button>
            <button class="btn btn-primary p-2 mx-3" type="button" onclick="PisoSender.goDetailsFlat();">Ver detalle</button>
        </div>
    </form>
</div>